
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:replace="common/header::common-header" />
<body>

	<div th:replace="common/header::navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-md-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>

			<div class="col-xs-4 col-md-4">
				<img src="images/logo.png" class="img-responsive">
			</div>
		</div>
		<hr>


		<div class="row">

			<div class="col-xs-9 col-md-9 col-md-offset-3 mx-auto">

				<ul class="nav nav-tabs" style="background-color:#ededed;">
					<li class="active mr-3"  th:classappend="${classActiveNewAccount}? 'in active'"><a data-toggle="tab" href="#home"><span
							style="color: red;"> Create new account</span></a></li>
							
					<li class="mr-3"  th:classappend="${classActiveLogin}? 'in active'"><a data-toggle="tab" href="#menu1"><span
							style="color: red;"> Log In</span></a></li>
							
					<li  th:classappend="${classActiveForgetPass}? 'in active'"><a data-toggle="tab" href="#menu2"><span
							style="color: red;"> Forget Password</span></a></li>

				</ul>

				<div class="tab-content">
					<div id="home" class="tab-pane fade in active" th:classappend="${classActiveNewAccount}? 'in active'">
						
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									
									<div class="alert alert-info" th:if="${emailSent}">
									
									 An email has been sent to the email address you just registered. Please validated your email address and update your password information.
									 
									</div>
									
									<form th:action="@{/newUser}" method="post">
										<div class="form-group">
											<label for="username">Username</label> <input type="text"
												required="required" class="form-control" name="username"
												id="username" placeholder="Enter username" value="">
											
										</div>
										<div class="form-group">
											<label for="email">Email</label> <input type="email"
												required="required" class="form-control" name="email"
												id="email" value="" placeholder="Enter Email Id here...">
											
										</div>
										<button type="submit" class="btn btn-primary">Create
											new Account</button>
									</form>
								</div>
							</div>
						</div>
					
					</div>
					<div id="menu1" class="tab-pane fade" th:classappend="${classActiveLogin}? 'in active'">
						
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form action="">
										<div class="form-group">
											<label for="username">Username</label> <input type="text"
												required="required" class="form-control" name="username"
												id="username" value="">
											<p style="color: #828282">Enter Username here.</p>
										</div>
										<div class="form-group">
											<label for="password">Password</label> <input type="password"
												required="required" class="form-control" name="passowrd"
												id="password" placeholder="Enter Password" value="">
											
										</div>
										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>
				
					</div>
					<div id="menu2" class="tab-pane fade"  th:classappend="${classActiveForgetPass}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form action="">
										<div class="form-group p-3">
											<label for="recoverymail">Email</label> <input type="text"
												required="required" class="form-control" placeholder="Enter your email id..." name="recoverymail"
												id="recoverymail" value="">
											
										</div>
										
										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>


			</div>
		</div>

	</div>



	<div th:replace="common/header::footer-script"></div>
</body>
</html>
