
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head th:replace="common/header::common-header" />
<body>

	<div th:replace="common/header::navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-md-8">
				<h2 class="section-headline">
					<span th:text="${#strings.toUpperCase(user.username)}">User
						Account</span>
				</h2>
			</div>

			<div class="col-xs-4 col-md-4">
				<img src="images/logo.png" class="img-responsive">
			</div>
		</div>
		<hr>


		<div class="row">

			<div class="col-xs-9 col-md-9 col-md-offset-3 mx-auto">

				<ul class="nav nav-tabs" style="background-color: #ededed;">
					<li class="active mr-3"
						th:classappend="${classActiveEdit}? 'in active'"><a
						data-toggle="tab" href="#home"><span style="color: red;">
								Edit</span></a></li>

					<li class="mr-3" th:classappend="${classActiveOrder}? 'in active'"><a
						data-toggle="tab" href="#menu1"><span style="color: red;">
								Order</span></a></li>

					<li class="mr-3" th:classappend="${classActiveBilling}? 'in active'"><a
						data-toggle="tab" href="#menu2"><span style="color: red;">
								Billing</span></a></li>
					<li th:classappend="${classActiveShipping}? 'in active'"><a
						data-toggle="tab" href="#menu3"><span style="color: red;">
								Shipping</span></a></li>

				</ul>

				<div class="tab-content">
					<div id="home" class="tab-pane fade in active"
						th:classappend="${classActiveEdit}? 'in active'">

						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" value="${user.id}">
										<div class="bg-info" th:if="${updateUserInfo}">User info
											updated</div>
										<div class="from-group">
											<div class="row">
												<div class="col-md-6">

													<label for="firstName">First Name</label> <input
														type="text" required="required" class="form-control"
														name="firstName" id="firstName"
														th:value="${user.firstName}">
												</div>

												<div class="col-md-6">

													<label for="lastName">Last Name</label> <input type="text"
														required="required" class="form-control" name="lastName"
														id="lastName" th:value="${user.lastName}">
												</div>
											</div>

										</div>

										<div class="from-group">

											<label for="userName">Username</label> <input type="text"
												required="required" class="form-control" name="userName"
												id="userName" th:value="${user.username}">
										</div>

										<div class="from-group">

											<label for="currentPassword">Current Password</label> <input
												type="password" required="required" class="form-control"
												name="currentPassword" id="currentPassword"
												th:value="${currentPassword}">
										</div>
										<p style="color: #828282">Enter your current password to
											change the email address or password</p>

										<div class="from-group">

											<label for="email">Email</label> <input type="email"
												required="required" class="form-control" name="email"
												id="email" >
										</div>
										
										<p style="color: #828282">A valid email address. All email form the systems will be set this address
										.The email address is not made public and will only be used if you wish to receive a new password or with to receive certain notification</p>
		
										<div class="from-group">

											<label for="txtNewPassword"> Password</label> <input
												type="password" required="required" class="form-control"
												name="newPassword" id="txtNewPassword"
												>
										</div>
										
										<div class="from-group">

											<label for="txtConfirmPassword">Confirm Password</label> <input
												type="password" required="required" class="form-control"
												 id="txtConfirmPassword"
												>
										</div>
										
										<p style="color: #828282">To change the current user password, enter the new password in both fields.</p>
		
										
										<button type="submit" class="btn btn-primary">Create
											new Account</button>

									</form>
								</div>
							</div>
						</div>

					</div>
		<!-- 			<div id="menu1" class="tab-pane fade"
						th:classappend="${classActiveLogin}? 'in active'">

						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form action="">
										<div class="form-group">
											<label for="username">Username</label> <input type="text"
												required="required" class="form-control" name="username"
												id="username" value="">
											<p style="color: #828282">Enter Username here.</p>
										</div>
										<div class="form-group">
											<label for="password">Email</label> <input type="password"
												required="required" class="form-control" name="passowrd"
												id="password" placeholder="Enter Password" value="">

										</div>
										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>

					</div> -->
					<!-- <div id="menu2" class="tab-pane fade"
						th:classappend="${classActiveForgetPass}? 'in active'">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">
									<form action="">
										<div class="form-group p-3">
											<label for="recoverymail">Email</label> <input type="text"
												required="required" class="form-control"
												placeholder="Enter your email id..." name="recoverymail"
												id="recoverymail" value="">

										</div>

										<button type="submit" class="btn btn-primary">Log In</button>
									</form>
								</div>
							</div>
						</div>
					</div> -->

				</div>


			</div>
		</div>

	</div>



	<div th:replace="common/header::footer-script"></div>
</body>
</html>
